*.log
*.orig
*.patch
*.rej
*.test
.artifacts
.idea
.vscode
/bin
/dev.yaml
/dist
/fulfillment-service
/logs
/osac
/osac-dev
__debug_bin*
__pycache__

# Helm dependency build artifacts
charts/*/charts/
charts/*/Chart.lock
